:root {
  --b: #000;
  --g: #888;
  --w: #fff
}

@font-face {
  font-family: 'solidaric';
  font-style: italic;
  font-weight: normal;
  font-display: block;
  src: url('./bl-themes/solidaric/solidaric-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'solidaric';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('./bl-themes/solidaric/solidaric.woff2') format('woff2');
}

body {
  font-family: 'solidaric';
  font-size: 28px;
  padding: 2rem;
  background: var(--w);
  color: var(--b)
}

.container {
  max-width: 78ch;
}
.mbh { margin: 0 0 .5rem }
.mb1 { margin: 0 0 1rem }
.mb2 { margin: 0 0 2rem }
.g, pre { color: var(--g) }

img { width: 100%; image-rendering: -moz-crisp-edges; image-rendering: pixelated }
a, a:visited { color: var(--b); text-decoration-color: var(--g) }
a:hover { text-decoration-color: var(--b) }
pre, ul, ol, blockquote { margin: 0; padding: 0 1rem }
pre { white-space: pre-wrap }

@media (prefers-color-scheme: dark) {
  :root {
    --b: #888;
    --g: #888;
    --w: #000
  }
}

@media screen and (min-width: 400px) {
  body {
    font-family: 'solidaric';
    font-size: 32px;
    padding: 2rem;
    background: var(--w);
    color: var(--b)
  }
}

@media screen and (max-width: 700px) {
  body {
    font-family: 'solidaric';
    font-size: 20px;
    padding: 2rem;
    background: var(--w);
    color: var(--b)
  }
}

